<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-feature android:name="android.hardware.usb.host" android:required="false" />

    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.DevBridge">

        <activity
            android:name=".ui.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ui.RemoteActivity" android:exported="false" android:configChanges="orientation|screenSize|keyboardHidden" />
        <activity android:name=".ui.ReportActivity" android:exported="false" />
        <activity android:name=".ui.ShellActivity" android:exported="false" android:windowSoftInputMode="adjustResize" />
    </application>
</manifest>
